/* primary */
.tooltip-primary {
     --bs-tooltip-bg: var(--bs-primary);
}
/* secondary */
.tooltip-secondary {
     --bs-tooltip-bg: var(--bs-secondary);
}
/* warning */
.tooltip-warning {
     --bs-tooltip-bg: var(--bs-warning);
}
/* danger */
.tooltip-danger {
     --bs-tooltip-bg: var(--bs-danger);
}
/* success */
.tooltip-success {
     --bs-tooltip-bg: var(--bs-success);
}
/* info */
.tooltip-info {
     --bs-tooltip-bg: var(--bs-info);
}
/* dark */
.tooltip-dark {
     --bs-tooltip-bg: var(--bs-dark);
}
/* light */
.tooltip-light {
     --bs-tooltip-bg: var(--bs-light);
}
/* black */
.tooltip-black {
     --bs-tooltip-bg: var(--bs-black);
}
/* white */
.tooltip-white {
     --bs-tooltip-bg: var(--bs-white);
     --bs-tooltip-color: var(--bs-black) ;
}
